{% extends 'base.html.twig' %}

{% block title %}
    Ajout de categorie {# changer pout le titre de l'annonce #}
{% endblock %}

{% block stylesheets %}
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="{{ asset('css/annonce/styles.css') }}" rel="stylesheet" />
{% endblock %}

{% block body %}
<section class="py-5 container">
    {{form(form)}}
    {#
    Normalement on utiliserait
    {{ form_start(form) }}
    et a l'interieur on fait nos div labels etc avec
    {{ form_row(for.title)}}

    input type submit ...

    sinon on peut utiliser chaque partie de la row
    {{ form_end(form) }}
    #}
</section>
{% endblock %}

{% block javascripts %}
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="js/annonce/scripts.js"></script>
{% endblock %}